#root {
  width: 100%;
  /* margin: 0 auto; */
  /* text-align: center; */
}


.mainpage {
  background-image: url('./assets/pastelBackground.png');
  background-position: 50% 30%;
  background-size: cover;
  width: 100%;
  min-height: 94vh; /*footer will also be 3vh*/
}


