/* calendar.css */

/* Styling for bouquet images */

.banner {
    background-color: #fefef4; /* Background color of the banner */
    border: 4px solid lightblue;
    padding: 0; /* Adjust as needed */
    padding-bottom: 8px;
    padding-left: 4px;
    padding-right: 4px;
    margin-top: 10px;
}

.banner:hover {
    border-color: initial;
}

.banner:hover {
    border-color: steelblue;
}
  
h1 {
    margin: 0;
    padding: 0;
}

.bouquet-icon {
    position: absolute;
    top: 0;
}

.bouquet-icon:first-child {
    left: 320px; /* Adjust as needed */
    width: 100px;
    margin-top: -10px;
}

.bouquet-icon:last-child {
    right: 320px; /* Adjust as needed */
    width: 100px;
    margin-top: -10px;
}

.text-center button{
    background-color: transparent;
    height: 20px;
}

.text-center button:hover {
    border-color: transparent;
}

.logo {
    background: hover;
}

.logo:hover {
    border-color: initial;
}

.logo:hover {
    border-color: transparent;
}

.kicks {
    margin-top: 6px;
    margin-bottom: 6px;
    font-weight: bold;
}

button[name="reset"] {
    color: red;
    background-color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:auto;
}

/* Styling Text */

.mainpage h1 {
    font-size: 40px;
}
  
/* Styling for calendar component */
.monthly-calendar {
    margin-top: 10px;
    margin-bottom: 20px;
}
  
.mainpage h2 {
    font-size: 36px;
    margin-top: 70px;
    margin-bottom: 20px;
}

/* CSS styles for screens up to 540px wide */
@media (max-width: 540px) {
    .mainpage {
        width: 100%;
        padding: 10px;
    }
    .mainpage h1 {
        font-size: 28px;
    }
  
    .mainpage h2 {
        font-size: 22px;
        margin-top: 30px;
    }

    .bouquet-icon:first-child {
        left: 230px; /* Adjust as needed */
        width: 70px;
    }
    
    .bouquet-icon:last-child {
        right: 230px; /* Adjust as needed */
        width: 70px;
    }

    .img.mx-auto {
        width: 100px;
    }

    .react-calendar {
        margin-top: 10px;
        margin-bottom: 30px;
    }
}

@media (max-width: 380px) {
    .monthly-calendar {
        margin-bottom: 40px;
    }
}
